/**
 * Fix user-agent
 */

* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #eee;
}

/**
 * Canvas
 */

.whiteboard {
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
}

.colors {
	position: fixed;
}

.color {
	display: inline-block;
	height: 48px;
	width: 48px;
}

.color.black {
	background-color: black;
}
.color.red {
	background-color: red;
}
.color.green {
	background-color: green;
}
.color.blue {
	background-color: blue;
}
.color.yellow {
	background-color: yellow;
}

#palette,
#canvas {
	display: inline-block;
	border: solid 1px #aaa;
	cursor: default;
	vertical-align: top;
}

#palette {
	width: 200px;
}

#clear {
	background: #eee;
	color: #777;
	padding: 10px;
	width: 200px;
	text-align: center;
	margin: 15px auto;
	cursor: pointer;
}

.container {
	white-space: normal;
	width: 710px;
}
